    <div class="container-fluid" [@routerAnimation]="'in'">
    <div  class="row" >
                            <div class="col-md-12 form-group">
                                	<div class="notification alert-info">
                                    	<h1 style="text-align: center;color:#676a6c;font-weight:lighter;font-size:30px ">Client Roles Configuration</h1>
                                    </div>
                                </div><!-- end section -->  
                                    <div>
                                        <div class="section col-md-2 ">
                                            <label class="field prepend-icon">Recipient Type : </label>                          
                                        </div><!-- end section -->                                    
                                        <div class="section col-md-10 form-group">
                                            
                                                <select class="form-control" id="sel1" >
                                                <option>Select SLOB</option>
                                                <option>LTD</option>
                                                <option>STD</option>
                                                <option>VP</option>
                                                <option>PFL</option>
                                              </select> 
                                            
                                        </div><!-- end section -->
                                    </div><!-- end .frm-row section --> 

                                    <div class="">
                                        <div class="section col-md-2 ">
                                            <label class="field prepend-icon">Roles Name : </label>                          
                                        </div><!-- end section -->                                    
                                        <div class="section col-md-10 form-group">
                                           
                                                <select class="form-control" id="sel1" >
                                                <option>Select SLOB</option>
                                                <option>LTD</option>
                                                <option>STD</option>
                                                <option>VP</option>
                                                <option>PFL</option>
                                              </select> 
                                        
                                        </div><!-- end section -->
                                    </div><!-- end .frm-row section --> 
                                    <!--<div ng-show="button">
                                        <button class="btn btn-primary" >Select</button>
                                    </div>-->
    </div>
                                   <div class="col-md-12 form-group container1">
                                
    <div class="col-md-5">
        <select size="5" multiple  style="width: 100%;overflow: hidden;" [(ngModel)]="available"><option *ngFor="let ct of Clients">{{ct}}</option></select>     
    </div>
    <div class="col-md-2">
        <input id="moveright" type="button" class="btn btn-primary btn-sm" (click)="moveItem(available, Clients,Client2)" value="Add"  />
        <input id="moverightall" type="button" class="btn btn-primary  btn-sm" (click)="moveAll(Clients,Client2)" value="Add All"/>
        <input id="move left" type="button" class="btn btn-primary  btn-sm" (click)="moveItem(available, Client2,Clients)" value="Remove" />    
        <input id="moveleftall" type="button" class="btn btn-primary  btn-sm" (click)="moveAll(Client2,Clients)" value="Remove All" />
    </div>
    <div class="col-md-5">    
        <select size="5" multiple  style="width:100%;overflow: hidden;">
          <option *ngFor="let ct1 of Client2">{{ct1}}</option>
        </select>
    </div> 
   
    </div>
    <div class="container1 col-md-12 form-group">
  
    <table id="example" class="table table-striped table-bordered dt-responsive nowrap " style="width:100%;background-color:white" cellspacing="0" >
        <thead>
      <tr>
        <th>id</th>
        <th>customer_no</th>
        <th>company</th>
        <th>street</th>
        <th>email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>1</td>
          <td>10</td>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>
         <span class="glyphicon glyphicon-envelope" style="color:green"></span>
        <span class="glyphicon glyphicon-edit" style="color:deepskyblue"></span>
        <span class="glyphicon glyphicon-trash" style="color:red"></span>
        </td>
      </tr>
    </tbody>
    </table>
</div>
  <div class="form-group">  
 <button class="btn btn-primary" >Accept</button>
  <button class="btn btn-primary" >Cancel</button>
  </div>
  <div class=" col-md-12 form-group container1">
  
    <table id="example" class="table table-striped table-bordered dt-responsive nowrap col-md-12" style="width:100%;background-color:white" cellspacing="0" >
        <thead>
      <tr>
        <th>id</th>
        <th>customer_no</th>
        <th>company</th>
        <th>street</th>
        <th>email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>1</td>
          <td>10</td>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>
         <span class="glyphicon glyphicon-envelope" style="color:green"></span>
        <span class="glyphicon glyphicon-edit" style="color:deepskyblue"></span>
        <span class="glyphicon glyphicon-trash" style="color:red"></span>
        </td>
      </tr>
    </tbody>
    </table>
</div>
  <div class="form-group row">
   
<div class="col-xs-6 col-xs-offset-3">
    <a routerLink="/maindashboard/dashboard/outputtext" (click)="activeclass.setoutputtextclass(true)" class="btn btn-block btn-info">
   <h4> Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span></h4>
    </a>
</div>
  </div>
    </div>